#grid_main {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  min-height: 95vh;
  grid-template-columns: 300px 1fr;
  grid-gap: 1em;
}

#grid_search {
  background-color: darkcyan;
}

#grid_content {
  background-color: darkgoldenrod;
}

#grid_header {
  background-color: aquamarine;
}

#grid_below_search {
  grid-row-start: 2;
  grid-row-end: span 2;
  background-color: blueviolet;
}

#grid_footer {
  background-color: chocolate;
}
